Options +FollowSymLinks
RewriteEngine On
RewriteRule ^collect-([a-z\-]+)\.html$ index.php?page=claim&game=$1 [L,QSA]
RewriteRule ^wait-([a-z\-]+)\.html$ index.php?page=wait&game=$1 [L,QSA]
RewriteRule ^([a-z\-]+)\.html$ index.php?page=$1 [L,QSA]
RewriteRule ^ajax/([a-z\-]+)/([a-z\-]+).json$ ajax.php?game=$1&action=$2 [L]
RewriteRule ^assets/([a-z\-]+)/([a-zA-Z\-_\.]+)$ assets.php?module=$1&file=$2 [L]