<div class="game-container">
    <div class="game-message" ng-hide="!showAds && !gameover">
        <p ng-show="gameover">Game Over</p>
        <div style="margin-top: 60px;font-size: 16pt; font-weight: bold;">Please take some time to visit our sponsor</div>
        <div class="ad large-rectangle" style="margin: 0 auto;"><?php AdManager::insert('a-ads','69629'); ?></div>
        <div class="lower" ng-hide="gameover">
            <a class="keep-playing-button" ng-click="showAds = false">Play</a>
        </div>
    </div>

    <div class="grid-container">
        <div class="grid-row">
            <div class="grid-cell"></div>
            <div class="grid-cell"></div>
            <div class="grid-cell"></div>
            <div class="grid-cell"></div>
        </div>
        <div class="grid-row">
            <div class="grid-cell"></div>
            <div class="grid-cell"></div>
            <div class="grid-cell"></div>
            <div class="grid-cell"></div>
        </div>
        <div class="grid-row">
            <div class="grid-cell"></div>
            <div class="grid-cell"></div>
            <div class="grid-cell"></div>
            <div class="grid-cell"></div>
        </div>
        <div class="grid-row">
            <div class="grid-cell"></div>
            <div class="grid-cell"></div>
            <div class="grid-cell"></div>
            <div class="grid-cell"></div>
        </div>
    </div>

    <div class="tile-container">

    </div>
</div>